@{
    ViewData["Title"] = "Categoria";
}

<h1>Categoria</h1>
<h3>crear una categoria</h3>
<button onclick="CrearCategoria()">Click aqui</button>
<div class="modal fade" id="ModalCategoria" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="TituloModalCategoria">Crear Categoria</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="AgregarCategoriaForm">
          <label for="IdCategoria" id="labelIdCategoria" class="form-label row m-2" hidden>
            Id de la categoria
            <input id="IdCategoria" class="form-control" type="text" name="IdCategoria" value="0" disabled>
          </label>
          <label for="NombreCategoria" class="form-label row m-2">
            Nombre de la categoria
            <input id="NombreCategoria" class="form-control" type="text" name="NombreCategoria">
          </label>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success" onclick="EditarCategoria()">Editar una categoria</button>
        <button type="button" class="btn btn-primary" onclick="GuardarCategoria()">Guardar Cambio</button>
      </div>
    </div>
  </div>
</div>



@section Scripts{
  <script src="/js/categoria.js"></script>
}